@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/kalameh/woff2/KalamehWeb-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-Thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/kalameh/woff2/KalamehWeb-ExtraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/kalameh/woff2/KalamehWeb-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/kalameh/woff2/KalamehWeb-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/kalameh/woff2/KalamehWeb-Semibold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-Semibold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/kalameh/woff2/KalamehWeb-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/kalameh/woff2/KalamehWeb-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-Black.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/kalameh/woff2/KalamehWeb-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/kalameh/woff2/KalamehWeb-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/fonts/kalameh/woff/KalamehWeb-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url("/fonts/dana/Dana-Hairline.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Hairline.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/dana/Dana-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Thin.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/dana/Dana-UltraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-UltraLight.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/dana/Dana-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Light.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/dana/Dana-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Medium.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/dana/Dana-DemiBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-DemiBold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/dana/Dana-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-ExtraBold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/dana/Dana-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Black.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 930;
  src: url("/fonts/dana/Dana-ExtraBlack.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-ExtraBlack.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 960;
  src: url("/fonts/dana/Dana-Heavy.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Heavy.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 990;
  src: url("/fonts/dana/Dana-Fat.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Fat.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/dana/Dana-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Bold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/dana/Dana-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/Dana-Regular.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@tailwind utilities;

pre {
  direction: ltr;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500/70;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400/70;
}
